.clientes-pag {
  width: 100%;
}

.clientes-pag {
  text-transform: uppercase;
  font-weight: bold;
}

.cadastra-cliente {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #c1cfda;
}

.clientes-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: fit-content;
  background-color: #03191e;
  border-radius: 1rem;
}

#titulo-cliente {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #c1cfda;
}

#add-cliente {
  color: #c1cfda;
  background-color: #941c2f;
  border-radius: 1.3rem;
}

#add-cliente:hover {
  cursor: pointer;
}

.quadro-resumo {
  display: flex;
  flex-direction: column;
  background-color: #c1cfda;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
}

.quadro-resumo h2 {
  font-size: 2rem;
}

.quadro-resumo li {
  font-size: 1.5rem;
}

.quadro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
